<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>PlanetSortedByMassButtonClick</servlet-name>
        <servlet-class>controller.PlanetSortedByMassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorrelationCoefficientController</servlet-name>
        <servlet-class>controller.CorrelationCoefficientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TemperatureAndDistanceCorrelationController</servlet-name>
        <servlet-class>controller.TemperatureAndDistanceCorrelationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlanetController</servlet-name>
        <servlet-class>controller.AddPlanetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanetsWithMagneticFieldController</servlet-name>
        <servlet-class>controller.PlanetsWithMagneticFieldController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearDbController</servlet-name>
        <servlet-class>controller.ClearDbController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieAccessController</servlet-name>
        <servlet-class>controller.CookieAccessController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlanetSortedByMassButtonClick</servlet-name>
        <url-pattern>/PlanetSortedByMassButtonClick</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StartButtonClick</servlet-name>
        <servlet-class>controller.StartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartButtonClick</servlet-name>
        <url-pattern>/StartButtonClick</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorrelationCoefficientController</servlet-name>
        <url-pattern>/CorrelationCoefficientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TemperatureAndDistanceCorrelationController</servlet-name>
        <url-pattern>/TemperatureAndDistanceCorrelationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlanetController</servlet-name>
        <url-pattern>/AddPlanetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanetsWithMagneticFieldController</servlet-name>
        <url-pattern>/PlanetsWithMagneticFieldController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearDbController</servlet-name>
        <url-pattern>/ClearDbController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieAccessController</servlet-name>
        <url-pattern>/CookieAccessController</url-pattern>
    </servlet-mapping>
</web-app>
